<% include ../partials/header %>
<% include ../partials/navbar %>

<div id="main">
  <div class="inner">
    <h1>Home</h1>

    <!-- Table -->
    <section>

      <div class="row">
        <h2>Bem-vindo ao FAST SELL</h2>
      </div>

      <%- message %>
      <hr>

    </section>

  </div>
</div>

<% include ../partials/footer %>