<% include ../partials/header %>
<% include ../partials/navbar %>

<div id="main">
  <div class="inner">
    <h1>Cadastrar Produto</h1>

    <!-- Table -->
    <section>

      <%= message %>

      <form method="post" action="/products/create">
        <div class="row gtr-uniform">
          <div class="col-6">
            <label for="description">Descrição</label>
            <input type="text" name="description" id="description" placeholder="" />
          </div>
          <div class="col-6">
            <label for="price">Preço</label>
            <input type="number" name="price" id="price" placeholder="0" value="0" />
          </div>
          <div class="col-12">
            <ul class="actions">
              <li><input type="submit" value="Cadastrar" class="primary" /></li>
            </ul>
          </div>
        </div>
      </form>


    </section>

  </div>
</div>

<% include ../partials/footer %>