<nav id="menu">
  <h2>Menu</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>    
    <li><a href="/usuario">Usuários</a></li>
    <li><a href="/logs">Logs</a></li>
  </ul>
</nav>